@import "../../index.scss";

#MobileHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 72px;
  background: $primary;
  z-index: 9;
  box-shadow: 0px 8px 32px -8px rgba(0, 0, 0, 0.32);

  h2 {
    font-size: 64px;
    text-shadow: 3px 3px 0 $secondary;
    width: 100%;
    text-align: center;
  }
}
